@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #212529;
$border-radius: 4px;
$darkGrey1: #1e201e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  color: #fff;
  background-color: #010409;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($columns, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #c2c5c9;
  }
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: $border-radius;
  background-color: $primary-color;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, all 0.3s ease-in-out;

  &:hover {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.05)
    );
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: $background-color;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.responsive-grid {
  @include grid(3);

  @include responsive(md) {
    @include grid(2);
  }

  @include responsive(sm) {
    @include grid(1);
  }
}

.loading .anim-loading {
  position: relative;
  min-height: 763px;
  pointer-events: none;
  overflow: hidden;
  border-color: transparent;
}
.loading .anim-loading::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    45deg,
    $darkGrey1 25%,
    #ecdfcc 50%,
    $darkGrey1 75%
  );
  background-size: 300%;
  pointer-events: none;
  border-radius: 5px;
  z-index: 99;
  animation: loadingEffect 2s infinite;
}
@keyframes loadingEffect {
  from {
    background-position: 300% 0;
  }
  to {
    background-position: 0% 0;
  }
}
